li{
  list-style-type: none;
}

.hamburger{
  cursor: pointer;
}

body{
  position: relative;
}

#hamburger-section{
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  color: #fff;
}
#hamburger-section .active{
  display: block;
}

a{
  text-decoration: none;
  color: #fff;
}

@media(min-width: 768px){
  #hamburger-section{
    display: none;
  }
}